.text-normal{
     -fx-font-size: 14px;
     -fx-font-family: "Avenir Book";
}

.text-small{
      -fx-font-size: 12px;
      -fx-font-family: "Avenir Book";
}

.text-large{
      -fx-font-size: 18px;
      -fx-font-family: "Avenir Book";
}

.text-title{
    -fx-font-size: 28px;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: bold;
}

.category-button{

}

#logo{
    -fx-font-size: 48px;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}


/* ---------------------------template------------------------------
    -fx-background-color: -fx-background;       // default JavaFX color
    -fx-background-color: rgba(0,0,0,0.75);     // transparent
.class-name:hover{                              // hover effect
    -fx-background-color: #FCFCFC;
}
.class-name:pressed{                            // pressed effect
    -fx-background-color: #D0D0D0;
}
*/